@typeparam TValue
@*<div class="form-group">
    <label>@Label</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="@Name" value="male" checked="@(!string.IsNullOrEmpty(Value) && Value == "male")" @bind="Value" />
        <label class="form-check-label">Male</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="@Name" value="female" checked="@(!string.IsNullOrEmpty(Value) && Value == "female")" @bind="Value" />
        <label class="form-check-label">Female</label>
    </div>
    <ValidationMessage For="@(() => Value)" />
</div>*@


@code {
    [Parameter] public string Label { get; set; }

   

    [Parameter] public string Name { get; set; }
    [Parameter] public TValue Value { get; set; }
    [Parameter] public EventCallback<TValue> ValueChanged { get; set; }
}
